* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.navbar h1 {
  font-size: 35px;
  font-weight: 900;
}
.page1 i {
  display: none;
}
.page1 {
  min-height: 100vh;
  width: 100vw;
  background-color: #000000;
  text-align: center;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 18vh;
  align-items: center;
  padding: 0 8vw;
  font-size: 20px;
  font-family: monospace;
  font-weight: 500;
}
.navbar nav ul li {
  display: flex;
  gap: 3vw;
}
.navbar nav ul li a {
  border-bottom: 1px solid white;
}

.page1 button {
  border: 3px solid #e96021;
  padding: 1.5vh;
  border-radius: 20px;
}
.page1 button:hover {
  background-color: #e96021;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 20px #e96021;
}
.page1 .content {
  margin-top: 18vh;
}
.page1 p {
  margin-bottom: 25px;
  color: #e96021;
}
.page1 .content h2 {
  font-size: 4vw;
  font-weight: 700;
}

.page1 video {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 6vw;
  width: 80%;
  z-index: 100;
}
.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #171717;
  position: relative;
  padding: 40vw 5vw;
}
.page2 .text-box {
  display: flex;
  width: 80vw;
  margin: 40px auto;
  justify-content: space-between;
  gap: 20px;
}
.text-box div {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid gray;
  padding: 1 0px;
}
.text-box h1 {
  font-size: 50px;
  font-weight: 700;
}
.page2 .img-box {
  height: 45vw;
  width: 35vw;
  background-color: #e96021;
  position: relative;
  transition: all ease 0.5s;
  border-radius: 10px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.bio-content {
  width: 40vw;
}
.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.img-box div {
  height: 90%;
  width: 90%;
  background-color: #e96021;
  position: absolute;
  border-radius: 10px;
  transform: rotate(-12deg);
  transition: all ease 0.5s;
  bottom: 0;
  right: 20px;
}
.img-box:hover div {
  transform: rotate(10deg);
}
.img-box:hover {
  transform: rotate(-5deg);
}

@media (max-width: 1000px) {
  .navbar nav ul li {
    display: none;
  }
  .page1 i {
    display: flex;
  }
  button {
    display: none;
  }
}
